<button class="btn btn-success" @onclick="OnClick.InvokeAsync">
    <i class="bi bi-plus-circle"></i> Adicionar
</button>


@code {
    [Parameter] public required EventCallback<Task> OnClick { get; set; } 
}
