@using FinanceManagementBlazor.Entities

<link rel="stylesheet" href="/css/ScreenModal.css" />

@if (Show)
{
    <div class="modal-overlay">
        <div class="modal-box">
            <h4>Adicionar Campo</h4>
            <Entry Label="Nome" Placeholder="Nome da branch" @bind-Value="@model.Name" />
            <Entry Label="Descrição" Placeholder="Descrição da Branch (Opcional)" @bind-Value="@model.Description"/>
            <div class="modal-actions">
                <button class="btn salvar" @onclick="() => OnSave.InvokeAsync( model )">Salvar</button>
                <button class="btn cancelar" @onclick="() => { Show = false; } ">Cancelar</button>
            </div>
        </div>
    </div>
}
<style>

</style>

@code {
    private BranchDto model = new();

    [Parameter] public bool Show { get; set; }
    [Parameter] public required EventCallback<BranchDto> OnSave { get; set; }
}
