<div class="branch-card" @onclick="OnClick.InvokeAsync">
    <div>
        <h3>@BranchModel.Name</h3>
        <p>Criado em: @BranchModel.CreatedAt</p> <p>Descrição: @BranchModel.Description</p>
    </div>
</div>
@code {
    [Parameter] public required EventCallback<Task> OnClick { get; set; }
    [Parameter] public required BranchDto BranchModel { get; set; }
}