<link rel="stylesheet" href="/css/ScreenModal.css" />
<link rel="stylesheet" href="~/css/Entry.css"/>

@if (Show)
{
    <div class="modal-overlay">
        <div class="modal-box">
            <h4>Adicionar Transação</h4>
            <Entry Label="Nome" Placeholder="Nome da Transação" @bind-Value="@transaction.Name" />
            <Entry Label="Descrição" Placeholder="Descrição da Transação (Opcional)" @bind-Value="@transaction.Description" />

            <div class="form-group mb-4 entry-container">
                <label class="entry-label">
                    Valor
                </label>
                <input type="number" class="form-control shadow-sm entry-input" placeholder="Digite o valor."
                @bind="transaction.Amount"/>
            </div>

            <div class="form-group mb-4">
                <label>
                    É uma entrada?
                </label>
                <input type="checkbox" @bind="transaction.IsEntry" />
            </div>

            <div class="modal-actions">
                <button class="btn salvar" @onclick="() => OnSave.InvokeAsync( transaction )">Salvar</button>
                <button class="btn cancelar" @onclick="() => { Show = false; } ">Cancelar</button>
            </div>
        </div>
    </div>
}

@code {
    private TransactionDto transaction = new();
    
    [Parameter] public bool Show { get; set; }
    [Parameter] public required EventCallback<TransactionDto> OnSave { get; set; }
}